.cabeçalho{
    background: linear-gradient(to bottom,green,red);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}
.cabeçalho-titulo{
    font-size: 50px;
}
.titulo_apresentacao_trabalho{
    font-size: 30px;
}
.imagempimenta1{
    width: 15%;
}
    .titulo_apresentacao_trabalho{
        background: linear-gradient(to bottom,green,red);
    }
    .INTRODUCAO{
        font-size: medium;
    }