*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background: linear-gradient(to bottom white, lemonchiffon);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}
.cabeçalho-titulo{
    font-size: 70px;
}
.titulo_apresentacao_trabalho{
    font-size: 30px;
}
.imagempimenta1{
    width: 15%;
}
    .titulo_apresentacao_trabalho{
        background: linear-gradient(to bottom,lemonchiffon,lemonchiffon);
    }
    .INTRODUCAO{
        font-size: medium;
    }
    .APRESENTACAOINTRUCAO{
        background-color: lemonchiffon;
    }
        .apresentacao_trabalho{
            background-color: lemonchiffon;
        }
.semanacor{
    background: linear-gradient(to bottom,lemonchiffon, red);
}
.cabeçalhogeral{
    background-color: lemonchiffon;
}