*{
    margin: 0%;
    padding: 1%;
}
.cabeçalho{
    background: linear-gradient(to bottom white, lemonchiffon);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}
.cabeçalho_titulo{
    font-size: 50px;
}
.titulo_apresentacao_trabalho{
    font-size: 30px;
}
.imagempimenta1{
    width: 10%;
}
    .titulo_apresentacao_trabalho{
        background: linear-gradient(to bottom,lemonchiffon,lemonchiffon);
    }
    .INTRODUCAO{
        font-size: medium;
    }
    .APRESENTACAOINTRUCAO{
        background-color: lemonchiffon;
    }
        .apresentacao_trabalho{
            background-color: lemonchiffon;
        }
.semanacor{
    background: linear-gradient(to bottom,lemonchiffon, );
}
.cabeçalhogeral{
    background-color: rgba(255, 57, 7, 0.904);
}
.CABECALHOLISTA{
    margin: 25 0;
    font-size: 19px;
}
body{
    background-image: linear-gradient(lemonchiffon, red);
}
.imagempimenta2{
    width: 19%;
}
